<ion-modal-view >
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">我的违规记录</h1>
        <button class="button button-clear" ng-click="submitCancelApp()">提交</button>
    </ion-header-bar>
    <style>
        .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
            white-space: normal; /*覆盖white-space: nowrap*/
        }
    </style>

    <ion-content delegate-handle="CancelApp-content">


        <ion-list class="lr-list-form">



            <div class="item item-divider bgcolor_c">
                基本信息
            </div>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    姓名：
                </div><br />
                <span>{{stuinfo.stuName}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    <span>学号：</span>
                </div><br />
                <span>{{stuinfo.stuNo}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    违规类型：
                </div><br />
                <span>{{MyBreachBehaviorInfo.breachBehavior}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    院系：
                </div><br />
                <span>{{stuinfo.deptName}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    专业：
                </div><br />
                <span>{{stuinfo.majorName}}</span>
            </ion-item>
            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    班级：
                </div><br />
                <span>{{stuinfo.className}}</span>
            </ion-item>

            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    时间：
                </div><br />
                <span>{{MyBreachBehaviorInfo.breachTime|date:"yyyy-MM-dd"}}</span>
            </ion-item>

            <ion-item class="lr-details-item">
                <div class="lr-item-htitle">
                    撤销状态：
                </div><br />
                <span>{{MyBreachBehaviorInfo.isCanceled}}</span>
            </ion-item>

            <div class="item item-divider">
                申请撤销<span>*</span>
            </div>
            <ion-item class="item-input" ng-show="{{MyBreachBehaviorInfo.show}}">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加撤销理由</div>
                <input type="text" ng-model="editData.remark" ng-class="{'active' : isInputActive('remark')}" />
            </ion-item>

        </ion-list>
        <div>
            <button class="button button-block button-positive" ng-click="submitCancelApp()">
                提交
            </button>
        </div>
    </ion-content>
</ion-modal-view>
