<ion-view hide-nav-bar="true" view-title="课表">
    <ion-content>
        <ion-header-bar class="bar-stable nav-title-slide-ios7">
            <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
            <h1 class="title">请假</h1>

        </ion-header-bar>
        <div class="banner">
            <img src="img/2.jpg" />
        </div>
        <ion-list>
            <ion-item ng-repeat="x in editData.rows" class="item-icon-right lr-iconitem item" ng-click="openDetailsModal('qingjiaResult.html','up',x)">

                <p style="margin-top:-10px;margin-left:-35px;">
                    {{x.stuName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{x.createDate|date:"yyyy-MM-dd"}}
                <p>
                    <span class="badge badge-positive">{{x.beAllow}}</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                <p style="margin-top: -6px; margin-left: -35px;">{{x.leaveType}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{x.days}}天</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="lr-plug-btn">
        <i class=" icon ion-ios-plus positive" ng-click="openEditModal('qingjiaadd.html',up)"></i>
    </div>
    
</ion-view>

