@{;
    ViewBag.Title = "新生报到选择床位";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>
    .disabled { 
        /*pointer-events: none; */
        cursor:not-allowed;
    }
</style>
<script>
    var stuinfoid = request('keyValue');
    var bedIds ="";
    $(function () {
        InitialPage();
        //GetBeds();
        GetTree();

       
    });
    //初始化页面
    function InitialPage() {
        //layout布局
        $('#layout').layout({
            applyDemoStyles: true,
            west__size: 160,
            spacing_open: 0,
            onresize: function () {
                $(window).resize()
            }
        });
        $(".center-Panel").height($(window).height() - 40)
    }

    //初始化控件
    function initControl() {


    }

    //加载树
    var departmentid = "card-box";
    function GetTree() {
        var item = {
            height: $(window).height() - 1,
            url: "../../CollegeMIS/BK_Dorm/GetDormTreeJsonByStuId?stuid=" + stuinfoid,
            onnodeclick: function (item) {
                Loading(true);
                window.setTimeout(function () {
                    if (item.parentnodes == "0") {
                        $(".card-box").show();
                        departmentid = "card-box";
                    } else {
                        $(".card-box").hide();
                        $('.' + item.id).show();
                        departmentid = item.id;
                    }
                    Loading(false);
                }, 200);

                GetBeds(item.id, item.majorno);

            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }

    //加载床位
    function GetBeds(dormid,majorno) {
        $.ajax({
            url: "../../CollegeMIS/BK_Dorm/GetDetailsJson?keyValue=" + dormid +"&majorno="+majorno,//只查询属于这个专业的床位
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                var _html = "";
                $.each(data, function (i) {
                    var row = data[i];
                    var active = "";
                    if (bedIds == row.BedId) {
                        active = "active"; //只针对当前页，所以这个是可以取消的
                    }
                    if (row.IsUsed == 1) {// row.StuId != null && row.StuId != ''
                        active = "active disabled";
                    }
                    _html += '<div class="card-box ' + row.DormId + ' ' + active + '">';
                    _html += '    <div class="card-box-img">';
                    _html += '        <img src="/Content/images/Bed.png" />';
                    _html += '    </div>';
                    _html += '    <div id="' + row.BedId + '" class="card-box-content">';
                    _html += '        <p>床位：' + row.BedName + '</p>';
                    if (row.StuId != null && row.StuId != '') {
                        _html += '        <p>床位已被' + row.StuName + '占用</p>';
                    }
                    _html += '    </div><i></i>';
                    _html += '</div>';
                });
                $(".gridPanel").html(_html);
                $(".card-box").click(function () {
                    if (!$(this).hasClass("active")) {                       
                            for (var i = 0; i <$(".card-box").length; i++) {
                                if (!$(".card-box").eq(i).hasClass("disabled")) {
                                    $(".card-box").eq(i).removeClass("active");
                                }
                            }

                            $(this).addClass("active");
                            bedIds = $(this).find('.card-box-content').attr('id');//得到床位ID号
                            //addbedid($(this).find('.card-box-content').attr('id'))//添加id号
                        
                    } else {
                        if (!$(this).hasClass("disabled")) {
                            $(this).removeClass("active");
                            bedIds = "";
                            //delbedid(bedIds, $(this).find('.card-box-content').attr('id'));//删除ID号
                        }
                        else {
                            dialogMsg('该床位已经被占用！', 0);
                        }
                        
                        
                    }
                })
                Loading(false);
            }, beforeSend: function () {
                Loading(true);
            }
        });
    }

    //增加床位的ID号
    function addbedid(bedid)
    {
        if (bedIds.length == 0)
        {
            bedIds.push(bedid);
        }
        else {
            var flag = true;

            bedIds.forEach(function (value) { //只使用了第一个参数（函数），调用的函数也只使用了第一个参数数组元素
                if (value==bedid) {
                    flag = false;
                }
            });

            if (flag) {
                bedIds.push(bedid);
            }
        }
    }

    //删除床位的ID号
    function delbedid(arr, val) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == val) {
                arr.splice(i, 1);
                break;
            }
        }
    }

    //保存表单;
    function AcceptClick() {
        if (bedIds=="") {
            dialogMsg('你还没有选择要占用的床位！', 0);
            return;
        }

        if (confirm("确定要占用这个床位吗？")) {
            var postData = { bedIds: bedIds, stuinfoid: stuinfoid };
            //postData["bedIds"] = bedIds;//得到床位ID号
           // postData["stuinfoid"] = stuinfoid;//得到学生ID号

            $.SaveForm({
                url: "../../CollegeMIS/BK_DormBed/SaveStuToBed",
                param: { "strEntity": JSON.stringify(postData)},
                loading: "正在保存，请稍等...",
                success: function () {
                    $.currentIframe().pagereload();
                }
            });
        }
    }
</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel" style="margin: 0px; border-top: none; border-left: none; border-bottom: none;">
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="treesearch">
            @*<input id="txt_TreeKeyword" type="text" class="form-control" style="border-top: none;" placeholder="请输入要查询关键字" />
                <span id="btn_TreeSearch" class="input-query" title="Search"><i class="fa fa-search"></i></span>*@

        </div>
        <div class="center-Panel" style="margin: 0px; border-right: none; border-left: none; border-bottom: none; background-color: #fff; overflow: auto; padding-bottom: 10px;">
            <div class="gridPanel">
            </div>
        </div>
    </div>
</div>




