<ion-modal-view>
  <ion-header-bar class="bar-stable nav-title-slide-ios7">
    <!--<button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>-->
      <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
    <h1 class="title">{{announce.category}}</h1>
  </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-10"><b>作者：</b></div>
                    <div class="col-50 balanced">{{announce.authorName}}</div>
                    <div class="col-10"><b>时间：</b></div>
                    <div class="col-30 balanced">{{announce.releaseTime|date:'yyyy.MM.dd'}}</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-10"><b>标题：</b></div>
                    <div class="col-90 balanced" style="white-space:pre-wrap">{{announce.fullHead}}</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-33"><b>内容：</b></div>
                </div>
                <!--<div class="row lr-item-row">
                    <div class="col-90">亲爱的同学们：</div>
                </div>-->
                <div class="row lr-item-row" style="white-space:pre-wrap">
                    <div style="text-indent: 1.9em; word-break:break-all;word-wrap:break-word" compile="announce.newsContent">
                        
                    </div>
                </div>
                <!--<div class="row lr-item-row">
                    <div class="col-99">
                        <p style=" text-indent: 1em; ">
                            1、界面炫酷，用户体验好不好？<br />
                        </p>
                        
                        <p style=" text-indent: 1em; ">
                            2、动态接口、动态表单、动态视图、动态Excel导入模板，都<br />
                            可以动态配置，小声点再动态老板就会自己干，你要失业了！^-^
                        </p>

                    </div>
                </div>-->
            </ion-item>
            <!--<ion-item class="item lr-item" >
                <div class="row">
                    <div class="col-20">通知人</div>
                    <div class="col-60">
                        <i class="icon ion-person "></i>小王
                        <i class="icon ion-person "></i>小李
                        <i class="icon ion-person "></i>小丽
                        <i class="icon ion-person "></i>小成
                        <i class="icon ion-person "></i>老李
                    </div>
                </div>
            </ion-item>-->
        </ion-list>
        <div>
            <button class="button button-block button-royal" ng-click="closeDetailsModal()">
                关闭
            </button>
        </div>
    </ion-content>
</ion-modal-view>
