<ion-modal-view >
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeBaodaoFuncModal()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">学生请假审批结果</h1>
        <!--<button class="button button-clear" ng-click="openSearch()"><i class=" icon ion-ios-search "></i></button>-->
    </ion-header-bar>
    <!--<div class="bar bar-subheader lr-subheader">
        <div class="lr-left-tool">
            <div class="lr-down-select"><span>全部</span><span class="num">{{data.records}}条</span><span><i class="icon ion-ios-arrow-down"></i></span></div>
        </div>
        <div class="lr-right-tool">
            <button class="button button-clear"><i class="icon iconfont">&#xe6f5;</i></button>
            <button class="button button-clear"><i class="icon iconfont">&#xe654;</i></button>
        </div>
    </div>-->
    <ion-content delegate-handle="Baodaolist-content">

        <div class="list mt5">
            <ion-list>
                <ion-item ng-repeat="x in ReviewStuLeaveList" class="item-icon-right lr-iconitem item" ng-click="openBaodaoFuncModal('qingjiaResult.html','up',x)">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    {{x.stuName}}{{x.createDate|date:"yyyy-MM-dd"}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-itemng-repeat>
</ion-list>
            </div>

    </ion-content>
    <!--<div class="lr-plug-btn">
        <i class=" icon ion-ios-plus positive" ng-click="openEditModal()"></i>
    </div>-->



</ion-modal-view>
