<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeBaodaoFuncModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">入学须知</h1>
        
    </ion-header-bar>

    <ion-content>
        <div class="list mt5" style="background-color:white">


            <div class="item item-divider">
                新生报到要注意什么?
            </div>
            <item-content>
                <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                    <div class="row">
                        <div class="col-99">
                            <p>
                                1、新疆农业大学对外地新生都有接送服务，学校会在当地火车站、码头、机场、长途客运站等门口设醒目标志，并且配有校车直接送新生与家长到学校。“学生如果第一次去外地，对学校地理位置不熟悉的话，最好还是乘校车去报到。”为了避免新生错过报到时间，学校往往会配备多辆校车循环接送，并配有专人守候站点。
                            </p>
                            <p>
                                2、新疆农业大学新生到校后，学校会在门口设报到流程指示牌，并安排学生志愿者在校园各个迎新点帮助新生办理报到手续，为新生指路并引领其入住宿舍等。“新生报到时一定要看清流程表，最好按照流程图上的顺序办理各种手续，不懂之处可询问迎新点的志愿者。”刘重喜提醒道，由于报到日人多且杂，一些不良商贩往往会趁机混到校园兜售各种商品，新生不要贪图便宜或者轻易相信陌生人的话。学校在流程牌上写清的收费项目一般要求学生定点办理缴费手续，学生千万不要上当受骗。
                            </p>
                        </div>
                    </div>
            </item-content>
        </div>

        <div class="list mt5">
            <div class="item item-divider">
                新生入学后要注意什么?
            </div>
            <item-content>
                <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                    <div class="row">
                        <div class="col-99">
                            <p>1、注意财产安全。大学住校都是几个人住一个寝室，人生地不熟的，大家来自五湖四海，对于不熟悉的人，一定要小心。不了解的新同学，藏好自己的财产，身上不要带太多的现金，因为大学生中有偷窃行为的也不少，所谓防人之心不可无。</p>

                            <p> 2、现在很多学生在家里住习惯了，突然来到一个陌生的城市和别人一起住，有的同学会不习惯，甚至情绪低落。大学适应期是每个新生必须经历的，对于异地求学的新生，还是要抱着挑战自己的心态，勇敢地面对困难。开学前一两周，新生可以多咨询一下各自专业的选课问题，预习一下大学教材，也可以通过学校的宣传栏、官方网页等了解该校的学生社团，而多参加一些针对新生的各种讲座，也是帮助尽快适应的有效途径。</p>

                            <p> 3、所谓家有家规、国有国法，每个学校也会有自己的一些规章制度，它规定了学生一些不能触犯的禁区，比如缺课达到多少节就会被处罚、图书证不能外借等。有时候犯错和不犯错之间只有一步之遥，学生也不是故意的只是不知道。所以了解学校的规章制度是新生最需要做的事情。</p>

                            <p>
                                4、熟悉学校的地形、掌握一些紧急联系方式也是非常必要的。比如学校的教学楼、图书馆的分布，医务室、保安室所在等。这些在学校发放的资料中都会有翔实的介绍，学生应该注意收集这些信息，学会保护自己，知道万一发生紧急情况该向谁求助。当然也千万别忘了记住你辅导员的联系方式，他会在你今后的学习和生活中扮演非重要的角色。

                                另外，提醒各位新疆农业大学新生，有的学校会统一发被子，开学当天就不要带被子了。有人可能觉得自己带被子省了一笔费用，但你大错特错。首先麻烦不说，有的学校会在学费里扣掉宿舍被子费用，也就是说其实这被子学校早给你买好了。
                            </p>

                        </div>
                    </div>
            </item-content>
        </div>
                

        </ion-content>


</ion-modal-view>

