<ion-modal-view ng-controller="BaodaoCtrl">
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">我的学业成绩</h1>
        <!--<button class="button button-clear" ng-click="openSearch()"><i class=" icon ion-ios-search "></i></button>-->
    </ion-header-bar>
    <!--<div class="bar bar-subheader lr-subheader">
        <div class="lr-left-tool">
            <div class="lr-down-select"><span>全部</span><span class="num">{{data.records}}条</span><span><i class="icon ion-ios-arrow-down"></i></span></div>
        </div>
        <div class="lr-right-tool">
            <button class="button button-clear"><i class="icon iconfont">&#xe6f5;</i></button>
            <button class="button button-clear"><i class="icon iconfont">&#xe654;</i></button>
        </div>
    </div>-->
    <ion-content delegate-handle="Baodaolist-content">
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>-->
        <div class="list list-inset lr-list-type2" style="margin-top:0px;">
            <ion-list>
                <ion-item class="mt10" >
                    <div>
                        <div class="row">
                            <div class="col-35"><span class="lr-title">扎西.阿力布朗</span></div>
                            <div class="col-75">
                                <span class="lr-title" style="text-align: right; margin-right: 15px">
                                    <i class="icon ion-card positive"></i>
                                    510222199902221518
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-33 lr-item-content">
                                <img width="80px" height="100px" ng-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497333818987&di=08cba5c5ea76376c42695f6df558bc9f&imgtype=0&src=http%3A%2F%2Fproc.iifs.ifeng.com%2Fblog%2F2016%2F03%2F05%2Fl6KhypeTaqR5aIy0xrGfnty50ZLSg5GHsqWdn2VrbphmameWamyQwm2XZ5aX3mRmlJLCZJWPYZLBo6eX.jpg" name="StuPhoto" />

                                <!--<div class="list card" style="height:100px;"></div>-->
                            </div>

                            <!--<div class="col-33 lr-item-content">
                                <p>性别：<span>男</span></p>
                                <p>民族：<span>汉族</span></p>
                                <p>所在地：<span>北京-朝阳</span></p>
                                <p>生日：<span>1999-3-2</span></p>
                                <p>电话：<span>18986645554</span></p>
                            </div>-->

                            <div class="col-75 lr-item-content">
                                <p>&nbsp;&nbsp;录取院系：<span>软件技术系</span></p>
                                <p>&nbsp;&nbsp;录取专业：<span>软件专业</span></p>
                                <p>&nbsp;&nbsp;班级：<span>软件1701班</span></p>
                                <p>&nbsp;&nbsp;学号：<span>20170201001</span></p>
                                <p>&nbsp;&nbsp;考生号：<span>170010214</span></p>
                            </div>

                        </div>
                    </div>
                    <!--<ion-option-button ng-click="doDelete(customer)">
                        <span class="lr-trash-circled"><i class="icon ion-ios-trash-outline"></i></span>
                    </ion-option-button>-->
                </ion-item>
            </ion-list>
        </div>
        <!--<ion-infinite-scroll ng-if="data.moredata" on-infinite="doLoadMore()" distance="1%"></ion-infinite-scroll>-->



        <div class="list mt5">


            <div class="item item-divider">
                第一学年度
            </div>
            <ion-list>

                <ion-item class="item-icon-right lr-iconitem item">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第一学期
                    <span class="badge badge-assertive">查看成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right lr-iconitem item" >
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第二学期
                    <span class="badge bgcolor_f">未录入成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

            </ion-list>

            <div class="item item-divider">
                第二学年度
            </div>
            <ion-list>

                <ion-item class="item-icon-right lr-iconitem item">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第一学期
                    <span class="badge bgcolor_f">未录入成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right lr-iconitem item">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第二学期
                    <span class="badge bgcolor_f">未录入成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

            </ion-list>
            <div class="item item-divider">
                第三学年度
            </div>
            <ion-list>

                <ion-item class="item-icon-right lr-iconitem item">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第一学期
                    <span class="badge bgcolor_f">未录入成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right lr-iconitem item">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    第二学期
                    <span class="badge bgcolor_f">未录入成绩</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>

            </ion-list>


        </div>





    </ion-content>
    <!--<div class="lr-plug-btn">
        <i class=" icon ion-ios-plus positive" ng-click="openEditModal()"></i>
    </div>-->



</ion-modal-view>
