<ion-modal-view ng-controller="BusinesssCtrl">
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">移动门户</h1>        
    </ion-header-bar>
    
    <ion-content delegate-handle="businesslist-content">

        <!--<iframe src="http://m.uh13553190.icoc.me" height="600px" scrolling="auto"></iframe></ion-content>-->
        <iframe src="http://m.ua11798853.icoc.me/" height="600px" width="100%" scrolling="auto"></iframe>
    </ion-content>
    
</ion-modal-view>
