<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closePageModel()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">学业成绩</h1>

    </ion-header-bar>

    <ion-content>

        <ion-item class="lr-item-htitle">
                <h3 style="font-size:large; margin-left:80px; color:red;">2016-2017上半年成绩单</h3>
</ion-item>


        <div class="list mt5">
            <div class="item item-divider bgcolor_b">
                期末考试成绩
            </div>

            <div class="row item">
                
                <div class="col-40 lr-item-content" style="margin-left:20px">
                    <p><i class="icon ion-ios-camera positive"></i><span><b>课程名：语文</b></span></p>
                    <p><i class="icon ion-ios-person positive"></i><span>学分：2</span></p>
                    <p><i class="icon ion-ios-person positive"></i><span>授课教师：田芬</span></p>
                  
                </div>
                
                <div style="margin-left:90px;margin-top:10px;"><div class="lr-label bgcolor_d">90分</div></div>
            </div>

            <div class="row item">

                <div class="col-40 lr-item-content" style="margin-left:20px">
                    <p><i class="icon ion-ios-camera positive"></i><span><b>课程名：数学</b></span></p>
                    <p><i class="icon ion-ios-person positive"></i><span>学分：2</span></p>
                    <p><i class="icon ion-ios-person positive"></i><span>授课教师：曾毅强</span></p>

                </div>
                <div style="margin-left:90px;margin-top:10px;"><div class="lr-label bgcolor_d">90分</div></div>
            </div>

                <div class="row item">

                    <div class="col-40 lr-item-content" style="margin-left:20px">
                        <p><i class="icon ion-ios-camera positive"></i><span><b>课程名：英语</b></span></p>
                        <p><i class="icon ion-ios-person positive"></i><span>学分：2</span></p>
                        <p><i class="icon ion-ios-person positive"></i><span>授课教师：陈敏</span></p>

                    </div>

                    <div style="margin-left:90px;margin-top:10px;"><div class="lr-label bgcolor_d">90分</div></div>
                </div>
                </div>

        <div class="item item-divider bgcolor_b">
            总分核算
        </div>

        <div class="row item">

            <div class="col-40 lr-item-content" style="margin-left:20px">
                <p><i class="icon ion-ios-camera positive"></i><span><b>总分：270分</b></span></p>
                <p><i class="icon ion-ios-person positive"></i><span>平均分：90分</span></p>
                <p><i class="icon ion-ios-person positive"></i><span>及格科目：3科</span></p>
                <p><i class="icon ion-ios-person positive"></i><span>不及格科目：0科</span></p>

            </div>

            <div style="margin-left:90px;margin-top:10px;"><div class="lr-label bgcolor_d">9名</div></div>
        </div>

                        <div>
                            <button class="button button-block button-positive" ng-click="openDetailsModal('DormReserveSuccess.html','up',detailsData)">
                                确定
                            </button>
                        </div>



                    </div>

</ion-content>


</ion-modal-view>

