<ion-view hide-nav-bar="true" view-title="课表">
    <ion-content>
        <ion-header-bar class="bar-stable nav-title-slide-ios7">
            <button class="button button-clear " ng-click="closePageModel()"><i class="icon ion-ios-close-empty"></i></button>
            <h1 class="title">我的课表</h1>

        </ion-header-bar>
        <style>
            .button-color1 {
                background-color: pink !important;
            }
            .button-color2 {
                background-color: hotpink !important;
            }
            .button-color3 {
                background-color: darkred !important;
            }
            .button-color4 {
                background-color: palegreen !important;
            }
            .button-color5 {
                background-color: yellowgreen !important;
            }
            .button-color6 {
                background-color: rosybrown !important;
            }

            .button-color7 {
                background-color: chartreuse !important;
            }
            .style-border1 {
                width: 62.33px;
                border-right: none;
                border-radius: 0px;
            }
            .style-border2 {
                width: 62.33px;
                border-radius: 0px;
            }
            .style-border3 {
                width: 62.33px;
                height: 150px;
                border-radius: 0px;
                border-bottom: none;
            }
            .style-border4 {
                width: 62.33px;
                height: 150px;
                border-radius: 0px;
            }
            .style-border5 {
                width: 62.33px;
                height: 150px;
                border-radius: 0px;
                border-top: none;
                border-bottom: none;
            }
            .style-border6 {
                width: 62.33px;
                height: 150px;
                border-radius: 0px;
                border-top: none;
            }

            
        </style>

        <div class="bar bar-subheader lr-subheader">
            <div class="lr-left-tool">
                <div class="lr-down-select"><span>第二周</span><i class="icon ion-ios-arrow-down"></i></div>
            </div>
        </div>
        <div class="banner">
            <img src="img/2.jpg" />
        </div>

        <div class="button-bar bar-balanced " style="padding: 0; height:52px;">
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border1" style="border-bottom:none;"><p>二月</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border1"><p>一</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border1"><p>二</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border1"><p>三</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border1"><p>四</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border2"><p>五</p></a>
            </div>
        </div>
        <div class="button-bar bar-balanced " style="padding-top: -10px; height: 150px;" >
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border3"><p>1</p><p></p><p></p><p></p><p></p><p>2</p></a>
            </div>
                <div style="word-break:break-all;">
                    <a class="button button-calm  style-border4 button-color1">
                        <p style="letter-spacing:2px; line-height:normal; margin:0;">思想道德与法律</p>
                    </a>
                </div>
                <div style="word-break:break-all;">
                    <a class="button button-balanced style-border4 button-color4">
                        <p style="letter-spacing:2px; line-height:normal; margin:0;">船舶结构与识图</p>
                    </a>
                </div>
                <div style="word-break:break-all;">
                    <a class="button button-positive style-border4 button-color5">
                        <p style="letter-spacing:2px; line-height:normal; margin:0;">公益劳动</p>
                    </a>
                </div>
                <div style="word-break:break-all;">
                    <a class="button button-balanced style-border4" >
                        <p style="letter-spacing:2px; line-height:normal; margin:0;">冷作工工艺学</p>
                    </a>
                </div>
                <div style="word-break:break-all;">
                    <a class="button button-calm style-border4" >
                        <p style="letter-spacing:2px; line-height:normal; margin:0;">传感器及其应用</p>
                    </a>
                </div>
            </div>
        <div class="button-bar bar-balanced " style="padding-top: -10px; height: 150px;">
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border3"><p>3</p><p></p><p></p><p></p><p></p><p>4</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4 button-color2">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">语文</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-positive style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">哲学与人生</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">电机与变压器</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">焊接工艺</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">焊接机器人案例教程</p>
                </a>
            </div>
        </div>

        <div class="button-bar bar-balanced" style="width:373.98px;">
            <a class="button button-outline button-positive" style="border-radius: 0px; ">午休</a>
        </div>
        <div class="button-bar bar-balanced " style="padding-top:-10px; height:150px;">
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border5"><p>5</p><p></p><p></p><p></p><p></p><p>6</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-positive style-border4 button-color7">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">思想道德与法律</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">计算机基础</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4 button-color6">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">物理</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">机械基础</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4 button-color3">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">英语</p>
                </a>
            </div>
            
        </div>
        <div class="button-bar bar-balanced " style="padding-top: -10px; height: 150px; ">
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border3"><p>7</p><p></p><p></p><p></p><p></p><p>8</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">超声检测</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4 button-color2">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">数学</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">体育与健康</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-positive style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">渗透检测</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4 button-color1">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">思想道德与法律</p>
                </a>
            </div>
        </div>
        <div class="button-bar bar-balanced" style="width:373.98px;">
            <a class="button button-outline button-positive" style="border-radius: 0px;">自习</a>
        </div>
        <div class="button-bar bar-balanced " style="padding-top:-10px; height:150px;">
            <div style="word-break:break-all;">
                <a class="button button-outline button-positive style-border6"><p>9</p><p></p><p></p><p></p><p></p><p>10</p></a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4 button-color2">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">计算机基础</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4">
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">无损检测新技术</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-calm style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">涡流检测</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-balanced style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">安全生产</p>
                </a>
            </div>
            <div style="word-break:break-all;">
                <a class="button button-positive style-border4" >
                    <p style="letter-spacing:2px; line-height:normal; margin:0;">环境保护</p>
                </a>
            </div>
        </div>
        
    </ion-content>
</ion-view>

