<ion-modal-view >
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
      <button class="button button-clear" ng-click="closePageModel()"><i class="icon ion-ios-arrow-left"></i></button>
      <h1 class="title">关于泉江</h1>
    </ion-header-bar>
    <ion-content>
        <div style="padding:10px;">
            <p style="text-indent: 2em;">北京泉江科技有限公司，是一家专业从事企业应用系统开发的高新技术企业， 为教师提供集管理咨询、软件开发、系统维护为一体的综合性服务。 公司总部在北京，是双软认证企业。</p>
            
            <p style="text-indent: 2em;">泉江团队成员由多名资深前端工程师、美工、资深架构师、资深APP开发工程师，知名企业IT管理人员组成， 他们对企业信息化建设有着丰富的经验及创新意识。</p>
        </div>
        <div style=" font-size: 10px;color: #B2B2B2;width: 100%; text-align: center;margin-top:20px;">
            <span>泉江科技有限公司</span>
            <p>copyright ©2017 bjquanjiang.com,All Rights Rescrved</p>
        </div>
    </ion-content>
</ion-modal-view>
