@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../ArrangeLesson/InfoLesson/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                }
            })
        }
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        $.SaveForm({
            url: "../../ArrangeLesson/InfoLesson/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <table class="form">
        <tr>
            <td class="formTitle">课程号</td>
            <td class="formValue">
                <input id="LessonNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
            <td class="formTitle">课程名称</td>
            <td class="formValue" colspan='3'>
                <input id="LessonName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">学分</td>
            <td class="formValue">
                <input id="Xuefen" type="text" class="form-control" isvalid="yes" checkexpession="Double" />
            </td>
            <td class="formTitle">周学时</td>
            <td class="formValue">
                <input id="WeekHours" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">简称</td>
            <td class="formValue">
                <input id="ShortName" type="text" class="form-control"  />
            </td>
            <td class="formTitle">课程类型</td>
            <td class="formValue">
                <div id="LessonType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
        </tr>
        <tr>
            <td class="formTitle">考核类型</td>
            <td class="formValue">
                <div id="TestType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            </td>
            <td class="formTitle">每天最大节数</td>
            <td class="formValue">
                <input id="MaxPerDay" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">理论学时</td>
            <td class="formValue">
                <input id="TheoryHours" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
            </td>
            <td class="formTitle">实践学时</td>
            <td class="formValue">
                <input id="PracticeHourse" type="text" class="form-control" isvalid="yes" checkexpession="NumOrNull" />
            </td>
        </tr>
        <tr>
            <td class="formTitle">是否连上</td>
            <td class="formValue">
                <div id="IsContinuity" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
            
    </table>
</div>
