<!DOCTYPE html>
<script>
    //window.location.href = 'http://139.196.217.128:81/@ViewBag.Url';
    setTimeout(function(){
        location.href = '@(LeaRun.Util.Config.GetValue("GzUrl") +ViewBag.Url)';
    },1);

</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>跳转</title>
</head>
<body>
   
</body>
</html>
