@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>;
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 136.5);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 136.5,
            url: "../../CollegeMIS/BK_MajorDetail/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '标识列', name: 'ID', index: 'ID', width: 80, align: '',sortable: true ,hidden: true },
                //{ label: '专业代码', name: 'MajorNo', index: 'MajorNo', width: 80, align: '' },
                { label: '专业名称', name: 'MajorName', index: 'MajorName', width: 80, align: ''  },
                { label: '专业方向编号', name: 'MajorDetailNo', index: 'MajorDetailNo', width: 180, align: ''  },
                { label: '专业方向名', name: 'MajorDetailName', index: 'MajorDetailName', width: 180, align: ''  },
                { label: '教委专业代码', name: 'GovMajorNo', index: 'GovMajorNo', width: 80, align: '' },
                {
                    label: '有效', name: 'EnableRemark', index: 'EnableRemark', width: 80, align: '',
                    formatter: function (cellvalue, options, rowObject) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '', name: '', index: '', width: 80, align: '' },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'ID',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            subGrid: false,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var keyValue = $gridTable.jqGrid('getRowData', row_id)['ID'];
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "../../CollegeMIS/BK_MajorDetail/GetDetailsJson",
                    postData: { keyValue: keyValue },
                    datatype: "json",
                    height: "100%",
                    colModel: [
                { label: 'ClassId', name: 'ClassId', index: 'ClassId', width: 80, align: '',hidden: true },
                { label: '行政班码', name: 'ClassNo', index: 'ClassNo', width: 80, align: ''  },
                { label: '行政班名', name: 'ClassName', index: 'ClassName', width: 80, align: ''  },
                { label: '系所码', name: 'DeptNo', index: 'DeptNo', width: 80, align: '' },
                { label: '专业码', name: 'MajorNo', index: 'MajorNo', width: 80, align: ''  },
                { label: '专业方向号（如0，1，2，3，4，5）      0代表无专业方向细分', name: 'MajorDetailNo', index: 'MajorDetailNo', width: 80, align: ''  },
                { label: '专业方向名', name: 'MajorDetailName', index: 'MajorDetailName', width: 80, align: ''  },
                { label: '年级', name: 'Grade', index: 'Grade', width: 80, align: ''  },
                { label: '学生人数', name: 'StuNum', index: 'StuNum', width: 80, align: ''  },
                { label: '年级内序号', name: 'SerialNum', index: 'SerialNum', width: 80, align: ''  },
                { label: '班主任职工号', name: 'ClassDiredctorNo', index: 'ClassDiredctorNo', width: 80, align: ''  },
                { label: '辅导员职工号   ', name: 'ClassTutorNo', index: 'ClassTutorNo', width: 80, align: ''  },
                { label: '班级名称全称(根据年级、专业名称、序号自动生成）', name: 'ClassNameFull', index: 'ClassNameFull', width: 80, align: ''  },
                { label: '审核标志', name: 'CheckMark', index: 'CheckMark', width: 80, align: ''  },
                    ],
                    caption: "明细",
                    rowNum: "1000",
                    rownumbers: true,
                    shrinkToFit: false,
                    gridview: true,
                    hidegrid: false
                });
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加专业方向',
            url: '/CollegeMIS/BK_MajorDetail/Form',
            width: '1000px',
            height: '750px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑专业方向',
                url: '/CollegeMIS/BK_MajorDetail/Form?keyValue=' + keyValue,
                width: '1000px',
                height: '750px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').jqGridRowValue( 'ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../CollegeMIS/BK_MajorDetail/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的专业方向！', 0);
        }
    }
    //详细
    function btn_details() {
        var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '详细专业方向',
                url: '/CollegeMIS/BK_MajorDetail/Form?keyValue=' + keyValue+'&isDeltail=true',
                width: '1000px',
                height: '750px',
                btn:null,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
</script>
<div class="titlePanel">
    <div class="title-search">
        <table>
            <tr>
                <td>
                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                </td>
                <td style="padding-left: 5px;">
                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
            <a id="lr-delete" class="btn btn-default" onclick="btn_details()"><i class="fa fa-list-alt"></i>详细</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
