<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">        
            <button class="button button-clear " ng-click="closeEditModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">报到预约信息编辑</h1>        
            <button class="button button-clear" style="margin-left:5px;" ng-click="doSubmit()">提交</button>
        
    </ion-header-bar>

    <style>
        /*.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
            white-space: normal; /覆盖white-space: nowrap/
        }
        .item-stacked-label {
            display:normal;
        }
        .item-note {
            margin: -5px;
        }*/

    </style>

    <ion-content delegate-handle="baodaoDetailHandle">

        <ion-list class="lr-list-form">
            



                <ion-item class="lr-item-htitle">
                    <span>学生姓名：</span>
                    <span class="positive ng-binding">张三.达瓦瓦力</span>
                </ion-item>
                
                

            <div class="item item-divider">
                到校方式<span>*</span>
            </div>
            <ion-item ng-click="openTypeSelectModal()">
                <div class="lr-form-select" ng-hide="editData.custTypeId != null"><i class="icon ion-ios-drag"></i>选择到校方式</div><!--火车,飞机,汽车,轮船,自驾车-->
                <div class="item-icon-right" ng-hide="editData.custTypeId == null">
                    <div class="lr-form-label royal-bg">{{editData.custTypeName}}</div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </div>

            </ion-item>


            <div class="item item-divider">
                到校时间<span>*</span>
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加到校时间</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>
            <div class="item item-divider">
                到站名称<span>*</span>
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加到站名称</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>

            <div class="item item-divider">
                随同人数<span>*</span>
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加随同人数</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>
            <div class="item item-divider">
                联系电话<span>*</span>
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加联系电话</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>
            <div class="item item-divider">
                备用电话<span>*</span>
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加备用电话</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>
            <div class="item item-divider">
                附言
            </div>
            <ion-item class="item-input">
                <div class="lr-form-input"><i class="icon ion-ios-pricetag-outline"></i>添加附言</div>
                <input type="text" ng-model="editData.fullName" ng-class="{'active' : isInputActive('fullName')}" />
            </ion-item>



            </ion-list>

            <div>
                <button class="button button-block button-positive" ng-click="doSubmit()">
                    提交
                </button>
            </div>

</ion-content>


</ion-modal-view>

