<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">选择宿舍</h1>

    </ion-header-bar>

    <ion-content>

        <ion-item class="lr-item-htitle">
            <span>姓名：</span>
            <span class="positive ng-binding">张三.达瓦瓦力</span><span style="font-size:16px;color:red">（男）</span>
        </ion-item>


        <div class="list mt5">
            <div class="item item-divider bgcolor_b">
                桃园一舍 101房
            </div>

            <div class="row item">
                <div style="margin:6px"><div class="lr-label bgcolor_d">1床</div></div>
                <div class="col-40 lr-item-content" style="margin-left:20px">
                    <p><i class="icon ion-ios-person positive"></i><span><b>张三.阿力古</b></span></p>
                    <p><i class="icon ion-ios-camera positive"></i><span>软件工程1701班</span></p>
                    <!--<p><i class="icon ion-ios-telephone-outline royal"></i><span>18983377654</span></p>-->
                </div>
                <div class="col-40 lr-item-content">
                    <p><i class="icon ion-ios-person positive"></i><span>维吾尔族</span></p>
                    <!--<p><i class="icon ion-ios-personadd balanced"></i><span>新疆</span></p>-->
                    <p><i class="icon ion-ios-flame-outline energized"></i><span>乌鲁木齐</span></p>
                </div>
            </div>





                <ion-radio class="item" ng-model="choice" ng-value="'bed11012'">
                    <div style="margin-left: -5px">
                        <div class="lr-label bgcolor_c" style="width:40px">2床</div>
                    </div>
                    <div style="margin-left:60px;margin-top:-25px;"><font color="green">空床位</font></div>
                </ion-radio>







                <div class="row item">
                    <div style="margin:6px"><div class="lr-label bgcolor_d">3床</div></div>
                    <div class="col-40 lr-item-content" style="margin-left:20px">
                        <p><i class="icon ion-ios-person positive"></i><span><b>李林</b></span></p>
                        <p><i class="icon ion-ios-camera positive"></i><span>软件工程1701班</span></p>
                        <!--<p><i class="icon ion-ios-telephone-outline royal"></i><span>18983377654</span></p>-->
                    </div>
                    <div class="col-40 lr-item-content">
                        <p><i class="icon ion-ios-person positive"></i><span>汉族</span></p>
                        <!--<p><i class="icon ion-ios-personadd balanced"></i><span>新疆</span></p>-->
                        <p><i class="icon ion-ios-flame-outline energized"></i><span>上海</span></p>
                    </div>
                </div>


                <ion-radio class="item" ng-model="choice" ng-value="'bed11014'">
                    <div style="margin-left: -5px">
                        <div class="lr-label bgcolor_c" style="width:40px">4床</div>
                    </div>
                    <div style="margin-left:60px;margin-top:-25px;"><font color="green">空床位</font></div>
                </ion-radio>

                <div class="item item-divider bgcolor_b">
                    桃园一舍 102房
                </div>

                <div class="row item">
                    <div style="margin:6px"><div class="lr-label bgcolor_d">1床</div></div>
                    <div class="col-40 lr-item-content" style="margin-left:20px">
                        <p><i class="icon ion-ios-person positive"></i><span><b>阿呆.达瓦</b></span></p>
                        <p><i class="icon ion-ios-camera positive"></i><span>软件工程1701班</span></p>
                        <!--<p><i class="icon ion-ios-telephone-outline royal"></i><span>18983377654</span></p>-->
                    </div>
                    <div class="col-40 lr-item-content">
                        <p><i class="icon ion-ios-person positive"></i><span>维吾尔族</span></p>
                        <!--<p><i class="icon ion-ios-personadd balanced"></i><span>新疆</span></p>-->
                        <p><i class="icon ion-ios-flame-outline energized"></i><span>乌鲁木齐</span></p>
                    </div>
                </div>





                <ion-radio class="item" ng-model="choice" ng-value="'bed11022'">
                    <div style="margin-left: -5px">
                        <div class="lr-label bgcolor_c" style="width:40px">2床</div>
                    </div>
                    <div style="margin-left:60px;margin-top:-25px;"><font color="green">空床位</font></div>
                </ion-radio>

                <ion-radio class="item" ng-model="choice" ng-value="'bed11023'">
                    <div style="margin-left: -5px">
                        <div class="lr-label bgcolor_c" style="width:40px">3床</div>
                    </div>
                    <div style="margin-left:60px;margin-top:-25px;"><font color="green">空床位</font></div>
                </ion-radio>

                <div class="row item">
                    <div style="margin:6px"><div class="lr-label bgcolor_d">4床</div></div>
                    <div class="col-40 lr-item-content" style="margin-left:20px">
                        <p><i class="icon ion-ios-person positive"></i><span><b>万林</b></span></p>
                        <p><i class="icon ion-ios-camera positive"></i><span>软件工程1701班</span></p>
                        <!--<p><i class="icon ion-ios-telephone-outline royal"></i><span>18983377654</span></p>-->
                    </div>
                    <div class="col-40 lr-item-content">
                        <p><i class="icon ion-ios-person positive"></i><span>汉族</span></p>
                        <!--<p><i class="icon ion-ios-personadd balanced"></i><span>新疆</span></p>-->
                        <p><i class="icon ion-ios-flame-outline energized"></i><span>北京</span></p>
                    </div>
                </div>

            <div>
                <button class="button button-block button-positive" ng-click="openDetailsModal('DormReserveSuccess.html','up',detailsData)">
                    提交
                </button>
            </div>



            </div>

    </ion-content>


</ion-modal-view>

