<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">宿舍预订</h1>
        
    </ion-header-bar>
    <style>
        .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
            white-space: normal; /*覆盖white-space: nowrap*/
        }

    .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
        max-height: 105px;
        max-width: 90px;
    }

    .item-avatar {
        padding-left: 122px;
    }

    </style >


    <ion-content>

        <div class="item item-divider bgcolor_d">
            宿舍图
        </div>
        <div class="list list-inset lr-list-type2" style="margin-top:0px;margin-bottom:10px">
            <!--<ion-list>
                <ion-item class="mt10" ng-click="openDetailsModal('BaodaoDetails.html','up')">
                    <div>
                        <div class="row">

                            <div class="col-99">
                                <div class="col-99 item-note">
                                    
                                        
                                    <p></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </ion-item>
            </ion-list>-->
            <img ng-src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497546871114&di=761ce087d87bd195be1b17bc2618c757&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F16%2F40%2F08%2F79K58PICfch_1024.jpg" style="margin:5px;" width="300px" />
        </div>



        <div class="list mt5">
            <div class="item item-divider">
                入住选项
            </div>
            <ion-list>

                <ion-item class="item-icon-right lr-iconitem item" ng-click="openDetailsModal('DormStandard.html','right',detailsData)">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    住宿标准
                    <span class="badge badge-assertive">未选择</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                <ion-item class="item-icon-right lr-iconitem item" ng-click="openDetailsModal('DormLeaveInfo.html','right',detailsData)">
                    <i class="icon ion-ios-list-outline positive-bg"></i>
                    入住信息
                    <span class="badge badge-assertive">5</span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
                </ion-list>
            </div>

        <div class="item item-divider">
            床位选择
        </div>

        <a class="item item-avatar" href="#">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497616737749&di=4fe054aae5f9a23d1625303df03b0e9d&imgtype=0&src=http%3A%2F%2Fwww.ygjj.com%2Fbookpic2%2F2010-02-22%2FThumbnailnew323865-20100222101253929526.JPG" />
            <h2>小明</h2>
            <p>床位：101-1</p>
            <p>民族：汉</p>
            <p>电话：13423287190</p>
            <p>来源地：新疆</p>
        </a>

        <a class="item item-avatar" href="#">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1497606674&di=b7fe5004f046045e6948983d624ea56e&src=http://dynamic-image.yesky.com/300x-/uploadImages/upload/20140909/upload/201409/nf0utoo4gp2jpg.jpg" />
            <h2>大熊</h2>
            <p>床位：101-2</p>
            <p>民族：汉</p>
            <p>电话：15820917190</p>
            <p>来源地：新疆</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="/www/img/logo.png" />
            <h2>我</h2>
            <p>床位：101-3</p>
            <p>民族：汉</p>
            <p>电话：15820917190</p>
            <p>来源地：新疆</p>
        </a>

        <div>
            <button class="button button-block button-positive" ng-click="openDetailsModal('DormBed.html','right',detailsData)">
                预定
            </button>
        </div>

    </ion-content>


</ion-modal-view>

