<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-arrow-left"></i></button>
        <h1 class="title">已安排宿舍</h1>
        
    </ion-header-bar>


    <ion-content delegate-handle="customerlist-content">
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>-->
        <!--<ion-infinite-scroll ng-if="data.moredata" on-infinite="doLoadMore()" distance="1%"></ion-infinite-scroll>-->

        <div class="item item-divider">
            <h3 align="center" ;style="color:green;font-weight:700;">已安排宿舍</h3>
        </div>




        <div class="item item-divider">
            房间：沁雅楼（01幢）-A座-0306
        </div>
        <a class="item">床位号：01</a>
        <a class="item">姓名：王瑜</a>
        <a class="item">学院：音乐舞蹈学院</a>
        <a class="item">专业：舞蹈学</a>
        <a class="item">班级：未分班</a>




    </ion-content>
    <!--<div class="lr-plug-btn">
        <i class=" icon ion-ios-plus positive" ng-click="openEditModal()"></i>
    </div>-->





</ion-modal-view>

