<ion-view hide-nav-bar="false" view-title="页面">
<ion-content padding="true" style="background-color:#ffffff;">

<H1 style="color:#000000;font-weight:500;text-align:center;">抵校登记</H1>
    <label class="item item-input">
    <input type="text" placeholder="身份证号"></label>
    
    <label class="item item-input"><input type="text" placeholder="到校时间"></label>
    <label class="item item-input"><input type="text" placeholder="到校方式"></label>
    
    <div class="list lr-list-type3"><ion-item class="item item-icon-left">
        
        <i class="icon ion-ios-barcode-outline royal" ></i> <span>列表类型一</span></ion-item></div>
    
    <ion-item class="item-icon-right lr-iconitem item "><i class="icon ion-ios-paper-outline b" ></i> <span>列表类型二</span>
    
    <i class="icon ion-chevron-right icon-accessory "></i></ion-item><button style="color:#ffffff;font-size:16px;text-align:center;font-weight:500;" class="button button-defaultbutton-standardbutton-positive">按钮</button></ion-content>
</ion-view>
