<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">来校路线</h1>
        
    </ion-header-bar>


    <ion-content>
        <div class="list mt5" style="background-color:white">


            <div class="item item-divider">
                1.飞机场
            </div>
            <item-content>

                <div class="list list-inset lr-list-type2 " style="margin-top:0px;">
                    <div class="row">
                        <div class="col-99">
                            <p>
                                从乌鲁木齐地窝堡国际机场到新疆农业大学，全程约15.8公里，机场大巴无法直达学校，建议搭乘出租车，在无堵车状态下，40元左右即可到达。（<a href='http://j.map.baidu.com/xk0pl' target="_blank">打开百度地图</a>）
                            </p>
                        </div>
                    </div>
            </item-content>
        </div>


        <div class="item item-divider">
            2.火车南站
        </div>
        <item-content>
            <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                <div class="row">
                    <div class="col-99">
                        <p>
                            出站口后向前直行50米到“火车南站”乘909、914、52区间车、52路、BRT1号线在“红山站”下车转乘同方向的17路车到终点站“新农大”，就到学校正门，车费2元。也可选择在火车站乘坐出租车到新疆农业大学，在无堵车状态下，20元左右即可到达。（<a href='http://j.map.baidu.com/Dimpl' target="_blank">打开百度地图</a>）
                        </p>
                    </div>
                </div>
        </item-content>
        </div>


        <div class="item item-divider">
            3.碾子沟汽车站
        </div>
        <item-content>
            <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                <div class="row">
                    <div class="col-99">
                        <p>
                            出乌鲁木齐碾子沟客运站，左转到马路对面，前行130米至“长途汽车站”乘坐912路,在“哈密路站”下车，乘坐同方向17路,在“新农大站”下车就到了学校正门，车费共2元。也可出站后乘坐出租车到新疆农业大学，在无堵车状态下，20元左右即可到达。（<a href='http://j.map.baidu.com/GUmpl' target="_blank">打开百度地图</a>）
                        </p>
                    </div>
                </div>
        </item-content>
        </div>

        <div class="item item-divider">
            4.乌昌车站
        </div>
        <item-content>
            <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                <div class="row">
                    <div class="col-99">
                        <p>
                            在北园春下车后前行20米路口右拐至车站乘23、304、305 、311、905、912、913、916 、921、922、926路至青河路口下车。走至前方路口右拐（约100米），后可直行至新疆农业大学正门（约600米）。亦可右拐后行至不足100米处公交站乘坐907路，一站路即可到达我校正门。（<a href='http://j.map.baidu.com/GUmpl' target="_blank">打开百度地图</a>）
                        </p>
                    </div>
                </div>
        </item-content>
        </div>

        <div class="item item-divider">
            5.南郊客运站
        </div>
        <item-content>
            <div class="list list-inset lr-list-type2" style="margin-top:0px;">
                <div class="row">
                    <div class="col-99">
                        <p>
                            出站后右转步行150米至马路对面的“三屯碑站”乘坐7路,在“红山站”下车，乘坐17路,在“新农大站”下车就到了学校正门。车费共2元。也可出站后乘坐出租车到新疆农业大学，在无堵车状态下，30元左右即可到达。（<a href='http://j.map.baidu.com/GUmpl' target="_blank">打开百度地图</a>）
                        </p>
                    </div>
                </div>
        </item-content>
        </div>

                    <img width="300px" src="https://gss0.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/95eef01f3a292df5fcdee287bc315c6034a87306.jpg">
    </ion-content>


</ion-modal-view>

