<ion-modal-view>
    <ion-header-bar class="bar-stable nav-title-slide-ios7">
        <button class="button button-clear " ng-click="closeDetailsModal()"><i class="icon ion-ios-close-empty"></i></button>
        <h1 class="title">我的同学</h1>
        
    </ion-header-bar>

    <style>
        .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
            max-height: 105px;
            max-width: 90px;
        }

        .item-avatar {
            padding-left: 122px;
        }
    </style>

    <ion-content>

        <div class="list mt5">
            <a class="item item-avatar" href="#">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497617044281&di=c8f62ece0241159435ce44132edfed33&imgtype=0&src=http%3A%2F%2Fpic.92to.com%2F360%2F201604%2F08%2F31191939_1.jpg" />
                <h2>小明</h2>
                <p>性别：男</p>
                <p>民族：汉</p>
                <p>电话：13423287190</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1497617279551&di=6c310e0aec9541f6c3f5745ad92b6892&imgtype=0&src=http%3A%2F%2Fwww.sddayinji.net%2Fpics%2Fbd15865622.jpg" />
                <h2>小红</h2>
                <p>性别：女</p>
                <p>民族：汉</p>
                <p>电话：13423094290</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1497606674&di=b7fe5004f046045e6948983d624ea56e&src=http://dynamic-image.yesky.com/300x-/uploadImages/upload/20140909/upload/201409/nf0utoo4gp2jpg.jpg" />
                <h2>大熊</h2>
                <p>性别：男</p>
                <p>民族：汉</p>
                <p>电话：15820917190</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>陈敏敏</h2>
                <p>性别：女</p>
                <p>民族：汉</p>
                <p>电话：13048393873</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>万林</h2>
                <p>性别：男</p>
                <p>民族：汉</p>
                <p>电话：13423287190</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/UserCard03.png" />
                <h2>刘涵</h2>
                <p>性别：男</p>
                <p>民族：汉</p>
                <p>电话：10392837653</p>
                <p>来源地：新疆</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="img/UserCard02.png" />
                <h2>张毅</h2>
                <p>性别：男</p>
                <p>民族：汉</p>
                <p>电话：13423287190</p>
                <p>来源地：新疆</p>
            </a>
        </div>

       
    </ion-content>


</ion-modal-view>

