<ion-modal-view>
  <ion-header-bar class="bar-stable nav-title-slide-ios7">
    <button class="button button-clear" ng-click="closeNoticesModal()"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">这是通知公告</h1>
  </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-20 balanced">李先生</div>
                    <div class="col-66">5月4日</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-20"><b>标题</b></div>
                    <div class="col-33">做一个全栈工程师</div>
                </div>
            </ion-item>
            <ion-item class="item lr-item">
                <div class="row">
                    <div class="col-33"><b>内容</b></div>
                </div>
                <div class="row lr-item-row">
                    <div class="col-90">亲爱的同学们：</div>
                </div>
                <div class="row lr-item-row">
                    <div >
                        <p style="text-indent: 1.9em; word-break: break-all;">
                                开发APP，不再要美工，我们就是全栈工程师，前端后台一把抓！<br>
                            再出一套App代码生成器，开发效率翻倍！<br>
                        </p>
                    </div>
                </div>
                <div class="row lr-item-row">
                    <div class="col-99">
                        <p style=" text-indent: 1em; ">
                            1、界面炫酷，用户体验好不好？<br />
                        </p>
                        
                        <p style=" text-indent: 1em; ">
                            2、动态接口、动态表单、动态视图、动态Excel导入模板，都<br />
                            可以动态配置，小声点再动态老板就会自己干，你要失业了！^-^
                        </p>

                    </div>
                </div>
            </ion-item>
            <ion-item class="item lr-item" >
                <div class="row">
                    <div class="col-20">通知人</div>
                    <div class="col-60">
                        <i class="icon ion-person "></i>小王
                        <i class="icon ion-person "></i>小李
                        <i class="icon ion-person "></i>小丽
                        <i class="icon ion-person "></i>小成
                        <i class="icon ion-person "></i>老李
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
