<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDb" connectionString="Server=127.0.0.1;Initial Catalog=LeaRunFramework_Base_2016;User ID=sa;Password=qjkj@2014" providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=127.0.0.1;Initial Catalog=Learun_account;User ID=sa;Password=qjkj@2014" providerName="System.Data.SqlClient" />-->

  <!--<add name="BaseDb" connectionString="Server=124.117.237.213\proj,9004;Initial Catalog=CMISFrame;User ID=sa;Password=xjnykxjsxy@2016~!"  providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=124.117.237.213\proj,9004;Initial Catalog=AceAccount;User ID=sa;Password=xjnykxjsxy@2016~!"  providerName="System.Data.SqlClient" />-->

  <add name="BaseDb" connectionString="Server=139.196.217.128,2866;Initial Catalog=CMISFrame;User ID=sa;Password=qjkj@2016"  providerName="System.Data.SqlClient" />
  <add name="AccountDb" connectionString="Server=139.196.217.128,2866;Initial Catalog=AceAccount;User ID=sa;Password=qjkj@2016"  providerName="System.Data.SqlClient" />
  
</connectionStrings>